fastapi
uvicorn[standard]
pydantic
openai
tenacity
python-dotenv
jinja2
python-multipart
python-control
scipy
numpy
sympy
pint
pyserial
pymodbus
minimalmodbus
pandas
matplotlib
PyMuPDF
chromadb
sentence-transformers
PySpice
schemdraw
plotly
pyqtgraph
PySide6
adafruit-circuitpython-ads1x15
pyrebase4
